.foundation
*.phar
.buildpath
.project
.settings/
nbproject
.foundation-tmp
tests/reports
pirum
library/Respect/Data
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.xz
*.lzma
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.tgz

